<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :valid %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
